WWIDataFactory1011/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "WWIDataFactory1011"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/IntegrationCustomers')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "odsToIntegration"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "odsSalesCustomers",
								"type": "DatasetReference"
							},
							"name": "Customers"
						},
						{
							"dataset": {
								"referenceName": "odsSalesCustomerCategories",
								"type": "DatasetReference"
							},
							"name": "CustomerCategories"
						},
						{
							"dataset": {
								"referenceName": "odsSalesBuyingGroups",
								"type": "DatasetReference"
							},
							"name": "BuyingGroups"
						},
						{
							"dataset": {
								"referenceName": "odsAppPeople",
								"type": "DatasetReference"
							},
							"name": "People"
						},
						{
							"dataset": {
								"referenceName": "odsSalesCustomers",
								"type": "DatasetReference"
							},
							"name": "Customers2"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "WWI_DW_Customer",
								"type": "DatasetReference"
							},
							"name": "WWIDWCustomer"
						}
					],
					"transformations": [
						{
							"name": "CustomersCategories"
						},
						{
							"name": "CustomersBuyingGroups"
						},
						{
							"name": "CustomersPeople"
						},
						{
							"name": "CustomerBill"
						},
						{
							"name": "AddDateAndSurrogateKey"
						}
					],
					"script": "source(output(\n\t\tSurrogateKey as string,\n\t\tCustomerID as integer,\n\t\tCustomerName as string,\n\t\tBillToCustomerID as integer,\n\t\tCustomerCategoryID as integer,\n\t\tBuyingGroupID as integer,\n\t\tPrimaryContactPersonID as integer,\n\t\tAlternateContactPersonID as integer,\n\t\tDeliveryMethodID as integer,\n\t\tDeliveryCityID as integer,\n\t\tPostalCityID as integer,\n\t\tCreditLimit as decimal(18,2),\n\t\tAccountOpenedDate as date,\n\t\tStandardDiscountPercentage as decimal(18,3),\n\t\tIsStatementSent as boolean,\n\t\tIsOnCreditHold as boolean,\n\t\tPaymentDays as integer,\n\t\tPhoneNumber as string,\n\t\tFaxNumber as string,\n\t\tDeliveryRun as string,\n\t\tRunPosition as string,\n\t\tWebsiteURL as string,\n\t\tDeliveryAddressLine1 as string,\n\t\tDeliveryAddressLine2 as string,\n\t\tDeliveryPostalCode as string,\n\t\tDeliveryLocation as binary,\n\t\tPostalAddressLine1 as string,\n\t\tPostalAddressLine2 as string,\n\t\tPostalPostalCode as string,\n\t\tLastEditedBy as integer,\n\t\tValidFrom as timestamp,\n\t\tValidTo as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_COMMITTED',\n\tformat: 'table') ~> Customers\nsource(output(\n\t\tSurrogateKey as string,\n\t\tCustomerCategoryID as integer,\n\t\tCustomerCategoryName as string,\n\t\tLastEditedBy as integer,\n\t\tValidFrom as timestamp,\n\t\tValidTo as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> CustomerCategories\nsource(output(\n\t\tSurrogateKey as string,\n\t\tBuyingGroupID as integer,\n\t\tBuyingGroupName as string,\n\t\tLastEditedBy as integer,\n\t\tValidFrom as timestamp,\n\t\tValidTo as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> BuyingGroups\nsource(output(\n\t\tSurrogateKey as string,\n\t\tPersonID as integer,\n\t\tFullName as string,\n\t\tPreferredName as string,\n\t\tSearchName as string,\n\t\tIsPermittedToLogon as boolean,\n\t\tLogonName as string,\n\t\tIsExternalLogonProvider as boolean,\n\t\tHashedPassword as binary,\n\t\tIsSystemUser as boolean,\n\t\tIsEmployee as boolean,\n\t\tIsSalesperson as boolean,\n\t\tUserPreferences as string,\n\t\tPhoneNumber as string,\n\t\tFaxNumber as string,\n\t\tEmailAddress as string,\n\t\tPhoto as binary,\n\t\tCustomFields as string,\n\t\tOtherLanguages as string,\n\t\tLastEditedBy as integer,\n\t\tValidFrom as timestamp,\n\t\tValidTo as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> People\nsource(output(\n\t\tSurrogateKey as string,\n\t\tCustomerID as integer,\n\t\tCustomerName as string,\n\t\tBillToCustomerID as integer,\n\t\tCustomerCategoryID as integer,\n\t\tBuyingGroupID as integer,\n\t\tPrimaryContactPersonID as integer,\n\t\tAlternateContactPersonID as integer,\n\t\tDeliveryMethodID as integer,\n\t\tDeliveryCityID as integer,\n\t\tPostalCityID as integer,\n\t\tCreditLimit as decimal(18,2),\n\t\tAccountOpenedDate as date,\n\t\tStandardDiscountPercentage as decimal(18,3),\n\t\tIsStatementSent as boolean,\n\t\tIsOnCreditHold as boolean,\n\t\tPaymentDays as integer,\n\t\tPhoneNumber as string,\n\t\tFaxNumber as string,\n\t\tDeliveryRun as string,\n\t\tRunPosition as string,\n\t\tWebsiteURL as string,\n\t\tDeliveryAddressLine1 as string,\n\t\tDeliveryAddressLine2 as string,\n\t\tDeliveryPostalCode as string,\n\t\tDeliveryLocation as binary,\n\t\tPostalAddressLine1 as string,\n\t\tPostalAddressLine2 as string,\n\t\tPostalPostalCode as string,\n\t\tLastEditedBy as integer,\n\t\tValidFrom as timestamp,\n\t\tValidTo as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> Customers2\nCustomers, CustomerCategories join(Customers@CustomerCategoryID == CustomerCategories@CustomerCategoryID,\n\tjoinType:'inner',\n\tbroadcast: 'auto')~> CustomersCategories\nCustomersCategories, BuyingGroups join(Customers@BuyingGroupID == BuyingGroups@BuyingGroupID,\n\tjoinType:'inner',\n\tbroadcast: 'auto')~> CustomersBuyingGroups\nCustomersBuyingGroups, People join(PrimaryContactPersonID == PersonID,\n\tjoinType:'inner',\n\tbroadcast: 'auto')~> CustomersPeople\nCustomersPeople, Customers2 join(Customers@BillToCustomerID == Customers2@CustomerID,\n\tjoinType:'inner',\n\tbroadcast: 'auto')~> CustomerBill\nCustomerBill derive(ValidFrom = currentTimestamp()) ~> AddDateAndSurrogateKey\nAddDateAndSurrogateKey sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError',\n\tmapColumn(\n\t\t{WWI Customer ID} = Customers@CustomerID,\n\t\tCustomer = Customers@CustomerName,\n\t\t{Bill To Customer} = Customers2@CustomerName,\n\t\tCategory = CustomerCategoryName,\n\t\t{Buying Group} = BuyingGroupName,\n\t\t{Primary Contact} = FullName,\n\t\t{Postal Code} = Customers@DeliveryPostalCode,\n\t\t{Valid From} = ValidFrom,\n\t\t{Valid To} = Customers@ValidTo,\n\t\t{Customer Surrogate Key} = Customers@SurrogateKey\n\t)) ~> WWIDWCustomer"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/IntegrationStockItem')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "odsToIntegration"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "odsWarehouseStockItems",
								"type": "DatasetReference"
							},
							"name": "odsStockItems"
						},
						{
							"dataset": {
								"referenceName": "odsWarehouseColors",
								"type": "DatasetReference"
							},
							"name": "odsColors"
						},
						{
							"dataset": {
								"referenceName": "odsWarehousePackageTypes",
								"type": "DatasetReference"
							},
							"name": "odsPackageTypes"
						},
						{
							"dataset": {
								"referenceName": "odsWarehousePackageTypes",
								"type": "DatasetReference"
							},
							"name": "odsPackageTypes2"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "WWI_DW_StockItem",
								"type": "DatasetReference"
							},
							"name": "WWIDW"
						}
					],
					"transformations": [
						{
							"name": "StockItemsColors"
						},
						{
							"name": "StockItemsPackageTypes"
						},
						{
							"name": "StockItemsPackageTypes2"
						},
						{
							"name": "SelectColumns"
						},
						{
							"name": "DerivedColumn1"
						}
					],
					"script": "source(output(\n\t\tSurrogateKey as string,\n\t\tStockItemID as integer,\n\t\tStockItemName as string,\n\t\tSupplierID as integer,\n\t\tColorID as integer,\n\t\tUnitPackageID as integer,\n\t\tOuterPackageID as integer,\n\t\tBrand as string,\n\t\tSize as string,\n\t\tLeadTimeDays as integer,\n\t\tQuantityPerOuter as integer,\n\t\tIsChillerStock as boolean,\n\t\tBarcode as string,\n\t\tTaxRate as decimal(18,3),\n\t\tUnitPrice as decimal(18,2),\n\t\tRecommendedRetailPrice as decimal(18,2),\n\t\tTypicalWeightPerUnit as decimal(18,3),\n\t\tMarketingComments as string,\n\t\tInternalComments as string,\n\t\tPhoto as binary,\n\t\tCustomFields as string,\n\t\tTags as string,\n\t\tSearchDetails as string,\n\t\tLastEditedBy as integer,\n\t\tValidFrom as timestamp,\n\t\tValidTo as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_COMMITTED',\n\tformat: 'table') ~> odsStockItems\nsource(output(\n\t\tSurrogateKey as string,\n\t\tColorID as integer,\n\t\tColorName as string,\n\t\tLastEditedBy as integer,\n\t\tValidFrom as timestamp,\n\t\tValidTo as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> odsColors\nsource(output(\n\t\tSurrogateKey as string,\n\t\tPackageTypeID as integer,\n\t\tPackageTypeName as string,\n\t\tLastEditedBy as integer,\n\t\tValidFrom as timestamp,\n\t\tValidTo as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> odsPackageTypes\nsource(output(\n\t\tSurrogateKey as string,\n\t\tPackageTypeID as integer,\n\t\tPackageTypeName as string,\n\t\tLastEditedBy as integer,\n\t\tValidFrom as timestamp,\n\t\tValidTo as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> odsPackageTypes2\nodsStockItems, odsColors join(odsStockItems@ColorID == odsColors@ColorID,\n\tjoinType:'left',\n\tbroadcast: 'auto')~> StockItemsColors\nStockItemsColors, odsPackageTypes join(UnitPackageID == PackageTypeID,\n\tjoinType:'left',\n\tbroadcast: 'auto')~> StockItemsPackageTypes\nStockItemsPackageTypes, odsPackageTypes2 join(OuterPackageID == odsPackageTypes2@PackageTypeID,\n\tjoinType:'left',\n\tbroadcast: 'auto')~> StockItemsPackageTypes2\nStockItemsPackageTypes2 select(mapColumn(\n\t\tStockItemsSurrogateKey = odsStockItems@SurrogateKey,\n\t\t{WWI StockItemID} = StockItemID,\n\t\tStockItemName,\n\t\tColorName,\n\t\t{Selling Package} = odsPackageTypes@PackageTypeName,\n\t\t{Buying Package} = odsPackageTypes2@PackageTypeName,\n\t\tBrand,\n\t\tSize,\n\t\tLeadTimeDays,\n\t\tQuantityPerOuter,\n\t\tIsChillerStock,\n\t\tBarcode,\n\t\tTaxRate,\n\t\tUnitPrice,\n\t\tRecommendedRetailPrice,\n\t\tTypicalWeightPerUnit,\n\t\tPhoto,\n\t\tValidFrom = odsStockItems@ValidFrom,\n\t\tValidTo = odsStockItems@ValidTo,\n\t\tLastEditedBy = odsColors@LastEditedBy,\n\t\tValidFrom = odsColors@ValidFrom,\n\t\tValidTo = odsColors@ValidTo\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SelectColumns\nSelectColumns derive({New Valid From} = currentTimestamp(),\n\t\tColorName = iif(isNull(ColorName), 'N/A', ColorName),\n\t\tBrand = iif(isNull(Brand), 'N/A', Brand),\n\t\tSize = iif(isNull(Size), 'N/A', Size),\n\t\tBarcode = iif(isNull(Barcode), 'N/A', Barcode)) ~> DerivedColumn1\nDerivedColumn1 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinput(\n\t\t{Stock Item Staging Key} as integer,\n\t\t{WWI Stock Item ID} as integer,\n\t\t{Stock Item} as string,\n\t\tColor as string,\n\t\t{Selling Package} as string,\n\t\t{Buying Package} as string,\n\t\tBrand as string,\n\t\tSize as string,\n\t\t{Lead Time Days} as integer,\n\t\t{Quantity Per Outer} as integer,\n\t\t{Is Chiller Stock} as boolean,\n\t\tBarcode as string,\n\t\t{Tax Rate} as decimal(18,3),\n\t\t{Unit Price} as decimal(18,2),\n\t\t{Recommended Retail Price} as decimal(18,2),\n\t\t{Typical Weight Per Unit} as decimal(18,3),\n\t\tPhoto as binary,\n\t\t{Valid From} as timestamp,\n\t\t{Valid To} as timestamp,\n\t\t{StockItem Surrogate Key} as string\n\t),\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError',\n\tmapColumn(\n\t\t{WWI Stock Item ID} = {WWI StockItemID},\n\t\t{Stock Item} = StockItemName,\n\t\tColor = ColorName,\n\t\t{Selling Package},\n\t\t{Buying Package},\n\t\tBrand,\n\t\tSize,\n\t\t{Lead Time Days} = LeadTimeDays,\n\t\t{Quantity Per Outer} = QuantityPerOuter,\n\t\t{Is Chiller Stock} = IsChillerStock,\n\t\tBarcode = Brand,\n\t\t{Tax Rate} = TaxRate,\n\t\t{Unit Price} = UnitPrice,\n\t\t{Recommended Retail Price} = RecommendedRetailPrice,\n\t\t{Typical Weight Per Unit} = TypicalWeightPerUnit,\n\t\tPhoto,\n\t\t{Valid From} = {New Valid From},\n\t\t{Valid To} = ValidTo,\n\t\t{StockItem Surrogate Key} = StockItemsSurrogateKey\n\t)) ~> WWIDW"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Customers')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "odsToIngestion",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "IntegrationCustomers",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"Customers": {},
									"CustomerCategories": {},
									"BuyingGroups": {},
									"People": {},
									"Customers2": {},
									"WWIDWCustomer": {}
								}
							},
							"staging": {},
							"integrationRuntime": {
								"referenceName": "integrationRuntime2",
								"type": "IntegrationRuntimeReference"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "IngestionToDimention",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "odsToIngestion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DimensionCustomer",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"Integration": {},
									"DimCustomer": {},
									"SinkInactive": {},
									"sinkUpdate": {},
									"sinkNew": {}
								}
							},
							"staging": {},
							"integrationRuntime": {
								"referenceName": "integrationRuntime2",
								"type": "IntegrationRuntimeReference"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "OdsToWarehouse"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/IntegrationCustomers')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/StockItem')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "odsToIngestion",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "IntegrationStockItem",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"odsStockItems": {},
									"odsColors": {},
									"odsPackageTypes": {},
									"odsPackageTypes2": {},
									"WWIDW": {}
								}
							},
							"staging": {},
							"integrationRuntime": {
								"referenceName": "integrationRuntime2",
								"type": "IntegrationRuntimeReference"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "OdsToWarehouse"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/IntegrationStockItem')]"
			]
		}
	]
}